/.DS_Store
/config.yaml
/public/
/web/node_modules/
/shared/messages_pb.rb
/web/src/generated/messages.ts
/artwork/*.jpg
/artwork/*.png
/export.log
/export/warehouse-export.xcodeproj/project.xcworkspace/xcuserdata
