/.DS_Store
/config.yaml
/public/
/web/node_modules/
/artwork/*.jpg
/artwork/*.png
/export.log
/export/build/
/export/warehouse-export.xcodeproj/project.xcworkspace/xcuserdata
/music/*.mp3
/music/*.m4a
/music/*.mp4
/music/*.wav
/bundles/
/server/spec/bundles/
/changes/tracks/*.json
/changes/playlists/*.json
/changes/updated_track_ids.json
