local:
  music_path: /Users/you/Music/iTunes/iTunes Music
  artwork_path: /Users/you/Development/warehouse/artwork/
  database_username: music
  database_name: warehouse
  update_library: true
  -- generate with: ruby -rsecurerandom -e 'p SecureRandom.hex(32)'
  secret: [something]
  port: 20601

remote:
  base_url: http://example.com/
  music_path: /home/user/music/
  artwork_path: /home/user/artwork/
  database_username: music
  database_name: warehouse
  update_library: true
  secret: [something]
  socket_path: /tmp/warehouse.sock

users:
  brendan:
    password: test123
    track_updates: true
