local:
  music_path: /Users/Brendan/Music/
  artwork_path: /Users/Brendan/Development/itunes-streamer/artwork/
  database_username: music
  database_name: itunes_streamer
  update_library: true
  -- generate with: ruby -rsecurerandom -e 'p SecureRandom.hex(32)'
  secret: [something]
  port: 20601

remote:
  base_url: http://example.com/
  music_path: /home/music/music/
  artwork_path: /home/music/artwork/
  database_username: music
  database_name: itunes_streamer
  update_library: false
  secret: [something]
  socket_path: /tmp/itunes-streamer.sock

users:
  brendan:
    password: test123
    track_updates: true
