.hidden {
  display: none;
}

.disabled {
  color: #CCCCCC;
}

#control {
  padding-left: 20px;
}

#control .icon {
  font-size: 32px;
  padding: 0 5px 0 5px;
}

#control #shuffle, #control #repeat {
  font-size: 30px;
  padding: 0 5px 0 10px;
}

#filter {
  padding-top: 12px;
}

#filter input {
  margin-left: 5px;
}

#tracks_filter {
  float: right;
}

#playlists {
  padding-left: 8px;
}

td .icon {
  padding-right: 4px;
  font-size: 15px;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 5px 8px !important;
}

table.dataTable tbody tr.selected {
  background-color: #DCDCDC !important;
}

table.dataTable tbody tr.odd {
  background-color: #F5F5F5;
}

table.dataTable tbody tr, #control {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

table.dataTable tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#contextMenu {
  padding: 0;
  border: 1px solid #DDDDDD;
  background: #FFFFFF;
}

#contextMenu li {
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}

#contextMenu li.hover {
  background: #CCCCCC;
}

#playlists { padding-top: 15px; }
#playlists ul.nav { margin-left: 16px; }
#playlists ul.nav li a { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
#playlists ul.nav li a { font-size: 14px; color: black; }
#playlists ul.nav li.active a { font-size: 14px; color: white; }
#playlists ul.nav li a i { padding-right: 5px; }
#playlists ul.nav li a i.spacer { color: transparent; }
#playlists .nav>li>a { padding: 5px 5px; }
#playlists .nav-stacked>li+li { margin-top: 0px; }

/* list -> 10.5
 * folder -> 12.25
 * musical notes -> 8.75 */
#playlists ul.nav li a i.marker:before { width: 12.25x !important; }
#playlists ul.nav li a i.ion-ios-list-outline:before { padding-left: 0.875px !important; }
/* less than it should be on purpose */
#playlists ul.nav li a i.ion-ios-musical-notes:before { padding-left: 1.5px !important; }

/* right arrow -> 5.25
 * left arrow -> 8.75 */
#playlists ul.nav li a i.arrow:before { width: 8.75px !important; }
#playlists ul.nav li a i.ion-arrow-right-b:before { padding-left: 1.75px !important; }
