.hidden {
  display: none;
}

.disabled {
  color: #CCCCCC;
}

#control .icon {
  font-size: 32px;
  padding: 0 5px;
}

#control #shuffle {
  font-size: 30px;
  padding: 0 5px 0 10px;
}

td .icon {
  padding-right: 4px;
  font-size: 15px;
}

table.dataTable tbody tr.selected {
  background-color: #DCDCDC !important;
}

table.dataTable tbody tr.odd {
  background-color: #F5F5F5;
}

table.dataTable tbody tr, #control {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

table.dataTable tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
