.disabled {
  color: #CCCCCC;
}

#controls {
  padding-left: 20px;
  padding-top: 3px;
}

#controls .icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  padding: 0 5px 0 10px;
}

#controls #repeat {
  font-size: 24px;
}

#controls #shuffle {
  font-size: 35px;
}

#filter {
  padding-top: 12px;
  text-align: right;
}

#filter div {
  max-width: 200px;
  display: inline-block !important;
}

/* https://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box */
#filter .has-feedback-left .form-control.input-sm {
  padding-right: 25px;
  padding-left: 25px;
}

#filter .has-feedback-left .form-control-feedback {
  left: 0;
}

#filter .input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
}

#playlists {
  padding-left: 8px;
}

td .icon {
  padding-right: 4px;
  font-size: 15px;
}

#tracks {
  line-height: 20px;
  border-bottom: 1px solid #000;
  width: 100%;
}

#tracks thead th {
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 18px;
  border-bottom: 1px solid #111;
  box-sizing: content-box;
}

#tracks thead .sort-both {
  background-image: url("/sort_both.png")
}

#tracks thead .sort-asc {
  background-image: url("/sort_asc.png")
}

#tracks thead .sort-desc {
  background-image: url("/sort_desc.png")
}

#tracks tbody th, #tracks tbody td {
  padding: 5px 8px !important;
}

#tracks tbody tr.selected {
  background-color: #DCDCDC !important;
}

#tracks tbody tr.odd {
  background-color: #F5F5F5;
}

#tracks tbody td {
  padding: 5px 8px;
}

#tracks tbody td.align-right {
  text-align: right;
}

#tracks, #controls, #pagination, #playlists {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tracks tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#remote-control {
  float: left;
  padding: 0.25em 0;
  width: 20em;
}

#pagination {
  float: right;
  padding: 0.25em 0;
}

#pagination a, span.ellipsis {
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  color: #000;
}

#pagination a {
  cursor: pointer;
  border-radius: 2px;
}

#pagination a:hover {
  text-decoration: none;
  color: #000;
  background-color: #eee;
}

#pagination a.selected, #pagination a.selected:hover {
  color: #fff;
  background-color: #337ab7;
}

#pagination a.disabled {
  cursor: default;
  color: #eee;
}

#pagination a:hover.disabled {
  background-color: transparent;
}

#context-menu {
  display: none;
}

.slider {
  width: 125px !important;
  height: 20px !important;
  margin-left: 15px !important;
}

.slider-handle {
  background-image: none !important;
  background-color: #FFF !important;
  border: 1px solid #999 !important;
  cursor: grab;
}

.slider-track {
  background-image: none !important;
  background-color: #CCC !important;
}

.slider-selection {
  background-image: none !important;
  background-color: #888 !important;
}

#info-container {
  width: 80%;
  float: left;
  text-align: center;
}

#name, #artist {
  white-space: nowrap;
}

#name {
  color: #444;
  padding-top: 3px;
}

#artist {
  color: #888;
  font-size: 12px;
}

#return {
  padding-left: 4px;
  cursor: pointer;
}

#current-time, #remaining-time {
  width: 10%;
  color: #888;
  font-size: 12px;
  margin-top: 23px;
  float: left;
}

#remaining-time {
  text-align: right;
}

#progress .progress {
  margin-top: 40px;
}

#progress .progress, #progress .progress-bar {
  height: 5px;
  cursor: pointer;
}

#progress .progress-bar {
  background-color: #888;
  background-image: none;
  -webkit-transition: none !important;
  transition: none !important;
}

#playlists {
  padding-top: 15px;
}

#playlists ul.nav {
  margin-left: 16px;
}

#playlists ul.nav li a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#playlists ul.nav li a {
  font-size: 14px;
  color: black;
}

#playlists ul.nav li.active a {
  font-size: 14px;
  color: white;
}

#playlists ul.nav li a i {
  padding-right: 5px;
}

#playlists ul.nav li a i.spacer {
  color: transparent;
}

#playlists .nav>li>a {
  padding: 5px 5px;
}

#playlists .nav-stacked>li+li {
  margin-top: 0px;
}

/* add various amounts of padding to make the icons all line up */
.ion-md-arrow-dropright {
  padding-left: 2px !important;
  padding-right: 6px !important;
}

.ion-ios-musical-notes {
  padding-left: 2px !important;
  padding-right: 6px !important;
}

.ion-ios-list {
  padding-left: 1px !important;
  padding-right: 6px !important;
}

#remote-control .icon {
  font-size: 28px;
}

#remote-control .ion-ios-checkmark {
  right: 77px;
  top: 5px;
}

#remote-control .ion-ios-close {
  right: 61px;
  top: 2px;
}
