name: test

on:
  push:
    branches: [ "master" ]
  schedule:
    - cron: '45 3 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: start postgres
      run: |
        sudo systemctl start postgresql.service
        pg_isready
        sudo -u postgres psql --command="CREATE USER ci PASSWORD 'ci' SUPERUSER" --command="\du"
        sudo -u postgres psql --command="CREATE DATABASE warehouse_test WITH OWNER=ci" --command="\du"

    - uses: ruby/setup-ruby@19a9babd0096de1a2aa716cac395f01253934999
      with:
        ruby-version: 3.3.4

    - uses: actions/setup-node@efcb663fc60e97218a2b2d6d827f7830f164739e
      with:
        node-version: '22.14.0'

    - name: bundle
      id: bundle
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3

    - uses: arduino/setup-protoc@3ea1d70ac22caff0b66ed6cb37d5b7aadebd4623
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: npm ci
      run: cd web && npm ci

    - name: compile protobufs & build web
      run: bundle exec rake web:build

    - name: rspec
      id: rspec
      timeout-minutes: 1
      run: bundle exec rspec

    - name: vitest
      id: vitest
      timeout-minutes: 1
      run: cd web && npx vitest run

    - name: checks
      id: checks
      run: bundle exec rake checks

    - name: pushover-actions
      if: failure()
      uses: umahmood/pushover-actions@0582cb24dccd1fe77aeb35e6fb8027ddbca8af35
      env:
        PUSHOVER_TOKEN: ${{ secrets.PUSHOVER_TOKEN }}
        PUSHOVER_USER: ${{ secrets.PUSHOVER_USER }}
      with:
        status: ${{ job.status }}
        title: "${{ github.repository }} CI failed (${{ github.workflow }})"
        url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
